<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--redis配置-->
  <configSections>
       <section name="RedisConfig" type="NetRedisUtil.RedisConfig,NetRedisUtil"/>
  </configSections>
  <RedisConfig WriteServerConStr="127.0.0.1:6379" ReadServerConStr="127.0.0.1:6379"  />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>